body{
    background-image: url(../images/moreclouds.gif);
    position: relative;
    
  }

  #form-box{
      box-align: center;
  }

  
  #face{
      color: blueviolet;
  }

  #new-anime-button {
      color: blueviolet
  }

  #user-fav-title {
      color: blueviolet;
  }

